html, body {
  font-family: Helvetica;
  font-size: 18px;
}

.container {
  width: 1024px;
  height: 100%;
  background-color: gray;
}
.header-logo {
  background-color: black;
  color: white;
}
.main-banner {
  background-image: url("../img/moto.jpeg");
  height: 25rem;
}
.main-banner-msg {
  background-color: black;
  width: 20rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.main-banner-msg #arrival {
  color: white;
  padding-top: 2rem;
  padding-left: 3rem;
  font-weight: bold;
  font-size: 1rem;
}

.main-banner-msg #sports {
  color: white;
  padding-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  background-color: red;
  height: 50px;
  width: 1024px;
}

.nav li {
  list-style: none;
  display: inline;
}
