/* univesal */
html {
  font-size: 18px;
}

body{
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

h1, h4{
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Company Header */
.company{
  background-color: black;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* main banner */
.main {
  background-image: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 25rem;
}

.headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

.headline h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}

/* Navigation bar */
nav{
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

/* products section */
